.popup {
    display: block;
    background     : rgba(0, 0, 0, .5);
    position       : fixed;
    z-index        : 1;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;

    /* visibility: hidden;
    opacity   : 0;
    transition: visibility .5s, opacity .5s; */
  }

.popup__menu {
    position  : absolute;
    width     : 520px;
    height    : 1024px;
    right     : 8px;
    top       : 8px;
    background: #202020;
    z-index   : 2;
}