.poftolio__list {
    width         : 1140px;
    margin        : 101px auto 0;
    font-style    : normal;
    font-weight   : 400;
    font-size     : 18px;
    line-height   : 20px;
    color         : #8B8B8B;
    mix-blend-mode: normal;
}

.portfolio {
    width : 1140px;
    margin: 50px auto 30px;
}

.portfolio__item {
    display        : flex;
    justify-content: space-between;
    margin-top     : 20px;
    height         : 69px;
    border-bottom  : 1px solid #424242;
}

.portfolio__item:last-child {
    margin-bottom: 204px;
    border-bottom: none;
}

.porfolio__item-title {
    font-style    : normal;
    font-weight   : 400;
    font-size     : 30px;
    line-height   : 50px;
    letter-spacing: -0.04em;
    color         : #FFFFFF;
    margin        : 0;
}

.portfolio__pictorgam {
    width: 29px;
}