.description {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-top   : 172px;
}

.description__name {
    font-style : normal;
    font-weight: 400;
    font-size  : 40px;
    line-height: 49px;
    margin     : 0;
    text-align : center;
}

.description__data {
    font-style : normal;
    font-weight: 400;
    font-size  : 30px;
    line-height: 37px;
    margin     : 0;
    text-align : center;
}

.description__text {
    padding    : 0 20px 0;
    font-style : normal;
    font-weight: 400;
    font-size  : 20px;
    line-height: 25px;
    margin     : 0;
    text-align : justify;
}

@media screen and (max-width: 1279px) {
    .description {
        padding-top: 336px;
    }
}

@media screen and (max-width: 767px) {
    .description {
        padding-top: 255px;
    }

    .description__name {
        font-size  : 30px;
        line-height: 36px;
    }

    /* .notfound__message {
        font-size  : 12px;
        line-height: 15px;
        margin     : 10px 0 0;
    }

    .notfound__backwards {
        font-size  : 12px;
        line-height: 15px;
        margin     : 284px 0 30px;

    } */
}