.title-text_about-me {}

.about-me__content {
    width          : 1140px;
    margin         : 66px auto 0;
    display        : flex;
    justify-content: space-between;
}

.about-me__about {
    width: 600px;
}

.about-me__image {
    width        : 270px;
    height       : 327px;
    object-fit   : cover;
    border-radius: 10px;
}

.subtitle-text {
    margin: 18px 0 0 0;
}

.about-me__description {
    margin: 26px 0 0 0;
    /* height: 88px; */
}

.links {
    display: flex;
    /* margin : 99px 0 0 0; */
    margin : 77px 0 0 0;
}

.link {
    margin: 0 20px 0 0;
}